{% for source in include %}{% for option in site.data.config-options %}{% if source[1] == option.Key %}<a class="settingsref" href="/settings-overview/#{{ option.Key }}"><span><i class="fa fa-cog"></i>&nbsp;{{ option.Name }}</span></a>{% endif %}{% endfor %}{% endfor %}{% comment %}
For some reason this include has to be in one line to work.
{% for source in include %}
  {% for option in site.data.config-options %}
    {% if source[1] == option.Key %}
      <a href="/settings-overview/#{{ option.Key }}">
        <span>
          <i class="fa fa-cog"></i>
            &nbsp;
          {{ option.Name }}
        </span>
      </a>
    {% endif %}
  {% endfor %}
{% endfor %}
{% endcomment %}
