<ul class="nav-sidebar">
  {% for item in items %}
    {% if item.path %}
      {% assign item_path = item.path %}
    {% else %}
      {% assign item_path = item.title | downcase | replace: " ", "-" %}
    {% endif %}

    {% if include.previous_path %}
      {% assign full_path = include.previous_path | append: "/" | append: item_path %}
    {% else %}
      {% assign full_path = item_path %}
    {% endif %}

    {% assign item_url = full_path | prepend: "/" %}

    {% comment %}
      page.url is not a consistent method:
        index pages inside a folder get returned with: /path/to/page/
        while other pages inside folders get returned with: /path/to/page.html

      This makes it hard to check whether the current page is an item in the left menu.
      To resolve this we:
        1) grab the last 5 characters of the page.url
        2) check if they are ".html"
        2.1) If so, set comparison_page_url to (page.url - ".html")
        2.2) If not, set comparison_page_url to (page.url - the last "/")
          -> here we use a trick too in order to just replace the last instead of all slashes "/"
    {% endcomment %}

    {% assign last_characters = page.url | slice: -5, 5 %}

    {% if last_characters == ".html" %}
      {% assign comparison_page_url = page.url | replace: ".html", "" %}
    {% else %}
      {% assign comparison_page_url = page.url | append: "17" | replace: "/17", "" %}
    {% endif %}

    <li class="li-nesting-{{ include.nesting_level }} page-item {% if comparison_page_url == item_url %}active{% endif %}">
      {% if item.extra_path %}
        {% assign item_url = item_url | append: item.extra_path %}
      {% endif %}
        <a href="{{ item_url }}" title="Go to {{ item.title }}">{{ item.title }}</a>
      {% if item.children %}
        {% assign items = item.children %}
        {% assign nesting_level = include.nesting_level | plus: 1 %}
        {% if nesting_level <= 4 %}
          {% include menu.html nesting_level=nesting_level previous_path=full_path %}
        {% endif %}
      {% endif %}
    </li>
  {% endfor %}
</ul>