body {
  font-family: 'Roboto';
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 40px;
  margin-bottom: 15px;
}

#page-menu {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

#page-content {
  padding-left: 40px;
}

.nav-sidebar {
  list-style: none;
  font-weight: normal;
  padding-left: 10px;
}

.nav-sidebar li.active {
  font-weight: bold;
}

li.li-nesting-1 {
  padding-top: 10px;
}

li.li-nesting-1 > a {
  color: #888;
}

li.li-nesting-2 > a {
  font-style: oblique;
}

.primary-color {
  color: #1fa787;
}

a {
  color: #1fa787;
}

a:hover {
  color: #1fa787;
}

#page-content .page-header {
  padding: 0 0 5px 20px;
}

#page-content table {
  margin: 5px;
  margin-bottom: 25px;
}

#page-content table td, #page-content table th {
  padding: 3px 10px;
}

#page-content table td {
  border-top: 1px solid rgba(0,0,0,0.4);
}

/* Source docs ref */

.coderef span {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  margin: 0 2px;
  padding: 2px 8px;
  background-color: rgba(0,0,0,0.07);
  border-radius: 0.4rem;
  white-space: nowrap;
  /* border-right: 1px solid rgba(31,167,135,0.5); */
  /* border-bottom: 1px solid rgba(31,167,135,1); */
}

.coderef a:hover span {
  background-color: #1fa787;
}

.coderef a {
  color: rgb(33, 37, 41);
}

.coderef a:hover {
  text-decoration: none;
}

.coderef i {
  color: #1fa787;
}

.coderef a:hover i {
  color: #fff;
}

.inlineref {
  font-size: 13px;
  margin-left: 20px;
  opacity: 0.8;
}

h1:hover .inlineref, h2:hover .inlineref, h3:hover .inlineref, h4:hover .inlineref, h5:hover .inlineref, h6:hover .inlineref {
  opacity: 1;
}


/* Github flavour */

#page-content code,
#page-content kbd,
#page-content pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

#page-content blockquote {
  margin: 0;
}

#page-content code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

#page-content pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

#page-content blockquote,
#page-content pre {
  margin-top: 0;
  margin-bottom: 16px;
}

#page-content blockquote {
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd;
}

#page-content blockquote>:first-child {
  margin-top: 0;
}

#page-content blockquote>:last-child {
  margin-bottom: 0;
}

#page-content code {
  color: rgb(33, 37, 41) !important;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}

#page-content code:before,
#page-content code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

#page-content pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre-wrap;
  background: transparent;
  border: 0;
}

#page-content .highlight {
  margin-bottom: 16px;
}

#page-content .highlight pre,
#page-content pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
}

#page-content .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

#page-content pre {
  word-wrap: normal;
}

#page-content pre code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

#page-content pre code:before,
#page-content pre code:after {
  content: normal;
}

#page-content kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}

#page-content hr {
  border-bottom-color: #eee;
}

#page-content .updated {
  float: right;
  margin-top: 1.5rem;
  font-size: 0.9rem;
  color: #0008;
}
