<!doctype html>
<html lang="{{ site.lang }}">
<head>
  {% include head.html %}
</head>
<body>
  {% include header.html %}

  <div class="container">
    <div class="row">
      <div id="page-menu" class="col-lg-3 col-md-4">
        {% assign menu = site.menus.navbar %}
        {% include menu.html nesting_level = 1 %}

        {% assign menu = site.menus.safing %}
        {% include menu.html nesting_level = 1 %}

        {% assign menu = site.menus.portmaster %}
        {% include menu.html nesting_level = 1 %}

        {% assign menu = site.menus.spn %}
        {% include menu.html nesting_level = 1 %}
      </div>
      <div id="page-content" class="col-lg-9 col-md-8">
        <div class="page-header">

          <div class="updated">
            {% if page.updated %}
              {% if page.updated == "old" %}
                Page may be out of date
              {% else %}
                Updated on {{ page.updated }}
              {% endif %}
            {% endif %}
          </div>

          <h1>
            {% if page.pagetitle %}
              {{ page.pagetitle }}
            {% else %}
              {{ page.title }}
            {% endif %}
          </h1>

          {% comment %} dirty copying from _includes/code_ref.html, but works for now {% endcomment %}
          <p class="coderef">
            {% for source in page.code_ref %}
              {% if source[0] contains "github" %}
                {% if source[0] contains "portmaster" %}
                  <a target="_blank" href="{{ site.github_ref_base_url }}/portmaster/tree/master/{{ source[1] }}">
                {% elsif source[0] contains "gate17" %}
                  <a target="_blank" href="{{ site.github_ref_base_url }}/gate17/tree/master/{{ source[1] }}">
                {% else %}
                  <a target="_blank" href="{{ site.github_ref_base_url }}/{{ source[1] }}">
                {% endif %}
                    <span><i class="fa fa-code"></i>&nbsp;{{ source[1] }}</span>
                  </a>
              {% elsif source[0] contains "godoc" %}
                {% if source[0] contains "portmaster" %}
                <a target="_blank" href="{{ site.godoc_ref_base_url }}/portmaster/{{ source[1] }}">
                {% elsif source[0] contains "gate17" %}
                <a target="_blank" href="{{ site.godoc_ref_base_url }}/gate17/{{ source[1] }}">
                {% else %}
                <a target="_blank" href="{{ site.godoc_ref_base_url }}/{{ source[1] }}">
                {% endif %}
                  <span><i class="fa fa-book"></i>&nbsp;{{ source[1] }}</span>
                </a>
              {% else %}
                <a target="_blank" href="{{ source[1] }}">
                  <span><i class="fa fa-link"></i>&nbsp;{{ source[0] }}</span>
                </a>
              {% endif %}
            {% endfor %}
          </p>
        </div>
        {{ content }}
      </div>
    </div>
  </div>

</body>
