---
layout: page
title: Safing Docs
---

<div class="mt-24 mb-20 mx-auto" style="max-width: 1250px;">
  <div class="block sm:flex ">

    <!-- side-navbar -->
    {% include navbar.html %}

    <!-- content -->
    <div class="mx-auto mt-12 md:mx-0 md:mt-0 lg:ml-16 lg:mr-56" style="width: 65%; max-width: -moz-fit-content;">
      <div id="page-container">
        <content>
          <div class="content" id="blog">
            <div class="mb-5">
              <div class="">
                {% if page.updated %}
                  {% if page.updated == "old" %}
                    Page may be out of date
                  {% else %}
                    Updated on {{ page.updated }}
                  {% endif %}
                {% endif %}
              </div>
              <h1 class="text-3xl">
                {% if page.pagetitle %}
                  {{ page.pagetitle }}
                {% else %}
                  {{ page.title }}
                {% endif %}
              </h1>
            </div>
            {% unless page.skip_toc == true %}
              {% assign h_max_var = page.toc_max_header | default: 5 %}
              {% include toc.html html=content ordered=true id="markdown-toc" h_max=h_max_var %}
            {% endunless %}
            {{ content }}
          </div>
        </content>
      </div>
    </div>
  </div>
</div>
