<!doctype html>
<html lang="{{ site.lang }}">
<head>
  {% include head.html %}
</head>
<body>
  {% include header.html %}

  <div class="container">
    <div class="row">
      <div id="page-menu" class="col-lg-3 col-md-4">
        {% include menu.html %}
      </div>
      <div id="page-content" class="col-lg-9 col-md-8">
        <div class="page-header">
          <h1>
            {% if page.pagetitle %}
              {{ page.pagetitle }}
            {% else %}
              {{ page.title }}
            {% endif %}
          </h1>
          {% if page.godoc_ref or page.github_ref %}
          <p class="coderef">
            {% for source in page.godoc_ref %}
            <a target="_blank" href="{{ site.godoc_ref_base_url }}/{{ source }}">
              <span><i class="fa fa-book"></i>&nbsp;{{ source }}</span>
            </a>
            {% endfor %}
            {% for source in page.github_ref %}
            <a target="_blank" href="{{ site.github_ref_base_url }}/{{ source }}">
              <span><i class="fa fa-code"></i>&nbsp;{{ source }}</span>
            </a>
            {% endfor %}
          </p>
          {% endif %}
        </div>
        {{ content }}
      </div>
    </div>
  </div>

</body>
